.header {
  margin: 0;
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media (max-width: 1023px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 928px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
    max-width: 720px;
  }
}
