.root {
  margin: 0 auto;
  color: white;
  background: #2a2c2f;
  max-width: 1280px;
  min-width: 320px;
  font-family: "Inter", Arial, "sans-serif";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
