.photo-grid__items {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  gap: 14px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

@media (max-width: 320px) {
  .photo-grid__items {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 12px;
  }
}

@media (max-width: 1023px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .photo-grid__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
